/* CSS Document */
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0 auto;
}

@font-face{
font-family: "Frutiger";
src: url("font/Frutiger.tff") format('opentype');; 
}


h1, h2, h3, p, ul, ul li, a, label, input {
	font-family: "Frutiger", Verdana;
	color: #141251;
}

h2{
    padding: 5px 20px;
    margin-top: 20px;
}

article{
    padding: 20px;
}


.displaynone {
	display: none;
}

header {
    position: fixed;
	display: flex;
    width: 100%;
    height: auto;
	justify-content: space-between;
    background-color: #ffff;
    border-bottom: 1px solid #141251;
}

header img {
	width: 150px;
	height: 50px;
}

header ul {
	list-style-type: none;
	display: inline-flex;
	padding: 0px;
	margin: 0px 10px;
}

header ul li {
	padding: 0 10px;
	margin: auto;
}

.leeg{
    display: block;
    width: 100%;
    height: 50px;
}

.banner img {
	width: 100%;
}

.hamburger-menu {
	position: fixed;
	width: 100%;
	top: 0;
    margin-top: 51px;
	height: 100%;
	background-color: #ffff;
}

.hamburger-menu ul{
	list-style-type: none;
    margin: 50px 0px;
}

.hamburger-menu ul li{
    font-size: 1.2em;
    padding: 12px 0px;
}

#schakel {
	display: none;
}

.menu-sluiten{
	display: block;
	float: right;
    font-size: 30px;
    padding: 10px;
    color: #141251;
}







.jumbotron{
    display: grid;
    background: url("../images/bannerfoto.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron p{
    display: block;
    width: 50%;
    margin: 20px 10px;
    float: left;
    padding: 5px 10px;
    text-align: center;
    background-color: #ffff;
}

.jumbotron h1{
    display: block;
    width: 65%;
    margin: 10px 10px;
    float: left;
    color: #ffff;
    text-shadow: 0px 0px 10px #000
}

.jumbotron a{
    display: block;
    width: 45%;
    padding: 15px 10px;
    margin: 20px 10px;
    text-align: center;
    color: #ffff;
    font-weight: 800;
    background-color: #1b60db;
    border-bottom: 2px solid #103880;
}

.jumbotron a:hover{
    background-color: #508fff;
    transition: 0.3s;
}









.vluchtgegevens-desktop{
    display: none;
}

.vluchtgegevens{
    padding: 20px;
}

.vluchtgegevens section{
    padding: 20px 0px 0px 0px;
}


.vluchtgegevens label{
    margin-right: 5%;
}

.vluchtgegevens input{
    margin-right: 5px;
}

.vluchtgegevens ul{
    list-style-type: none;
}

.vluchtgegevens ul li{
    float: left;
}


.vluchtgegevens section:nth-child(3){
}

.vluchtgegevens section:nth-child(3) input{
    width: 100%;
    padding: 20px 9px;
    border: 1px solid #d2d2d2;
    border-bottom: 1px solid #676767;
    color: #1a61da;
    margin-top: 15px;
}

@media only screen and (min-width: 800px) {
    .vluchtgegevens{
    display: none;
    }
    
    
.vluchtgegevens-desktop{
    display: block;
    background-color: red;
    position: absolute;
    margin: auto;
    right: 5%;
    padding: 50px 5px;
}   
}









.informatie-content section{
  margin: 20px 0px;	
  box-shadow: 10px 10px 5px #e6e6e682;
}

.informatie-content section:hover{
  cursor: pointer;
  box-shadow: 10px 10px 5px #969696c7;
  transition: 0.5s;
	
}

.informatie a{
    display: block;
    padding: 15px 0px 0px 0px;
    font-size: 13px;
    line-height: 17px;
    color: #1a61da;
}

.informatie-content section p,h3,a{
	padding: 15px;
	line-height: 25px;
}

.informatie-content section a{
	line-height: 50px;
    color: #1a61da;
}

.informatie-content section img{
    width: 100%;
    height: auto;
}

.informatie h2{
    padding: 0px;
}


@media only screen and (min-width: 600px) {
    
    .informatie-content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
    }
    
}

@media only screen and (min-width: 960px) {
    
    .informatie-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 10px 10%;
    }
    
    h2, .informatie{
    padding: 10px 10%;
    }
    
    .informatie h2, .handicap h2{
        padding: 0px;
    }
        
}






.weetjes{
    background-color: #f4f7fb;
}

.weetjes section{
    background-color: #ffff;
}

.weetjes section:hover{
    cursor: default;
}

.weetjes p{
    font-weight: 600;
}

.weetjes a{
    color: #1b60db;

}

.weetjes section h3{
    padding: 15px;
}

.weetjes section p, a{
    padding: 20px 20px 0px 20px;
}

.weetjes section a:last-child{
    display: block;
    padding: 0px 20px 27px 20px;
}






.handicap{
    display: flex;
    padding: 25px;
}

.handicap i{
    margin: auto;
    font-size: 35px;
    color: #1a61da;
}

.handicap h2{
   font-size: 17px;
}

.handicap section a{
   font-size: 15px;
   padding: 0px;
   color: #1a61da;
}

.handicap section a i{
   font-size: 15px;

}