/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0 auto;
}

@font-face {
    font-family: "Frutiger";
    src: url("font/Frutiger.tff") format('opentype');
    ;
}


body {
    max-width: 90rem;
}

h1,
h2,
h3,
p,
ul,
ul li,
a,
label,
input {
    font-family: "Frutiger", Verdana;
    color: #141251;
}

h2 {
    padding: 5px 20px;
    margin-top: 20px;
}

article {
    padding: 20px;
}

.link-bottom {
    margin-top: 40px;
}

.displaynone {
    display: none;
}

header {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    background-color: #ffff;
    border-bottom: 1px solid #141251;
}

header img {
    width: auto;
    height: 50px;
    margin: 0px;
}

header ul {
    list-style-type: none;
    display: inline-flex;
    padding: 0px;
    margin: 0px 10px;
}

header ul li {
    padding: 0 10px;
    margin: auto;
}

header a {
    margin: 0px;
}

.banner img {
    width: 100%;
}

.desktop-ul {
    display: none;
}

.hamburger-menu {
    position: fixed;
    width: 100%;
    top: 0;
    margin-top: 51px;
    height: 100%;
    background-color: #ffff;
}

.hamburger-menu ul {
    list-style-type: none;
    margin: 50px 0px;
}

.hamburger-menu ul li {
    font-size: 1.2em;
    padding: 12px 0px;
}

#schakel {
    display: none;
}

.menu-sluiten {
    display: block;
    float: right;
    font-size: 30px;
    padding: 10px;
    color: #141251;
}






.jumbotron {
    display: flex;
    padding: 20px;
    background: url("../images/bannerfoto.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron-inner p {
    margin: 0px 0px 10px 0px;
    width: 190px;
    padding: 3px;
    text-align: center;
    background-color: #ffff;
    font-weight: bold;
}

.jumbotron-inner h1 {
    margin: 0px 0px 20px 0px;
    font-size: 35px;
    color: #ffff;
    text-shadow: 1px 1px 6px rgb(0 0 0 / 90%);
}

.jumbotron-inner a {
    color: white;
    padding: 15px 20px;
    background-color: #1b60db;
    border-bottom: 4px solid #10397d;
    display: block;
    width: 50%;
    margin: 0;
    text-decoration: none;
}

.jumbotron-inner a:hover {
    cursor: pointer;
    background-color: #154aa9;
}



#datum,
#bestemming {
    width: 100%;
    padding: 12px 30px;
    border: 1px solid #d6d6d6;
    border-bottom: 1px solid black;
}

#datum {
    margin-bottom: 30px;
    color: #1961d9;
}

#bestemming {
    color: #5d5d5d;
}



.vluchtgegevens-desktop h2 {
    padding: 0px;
    margin: 0px 0px 20px 0px;
    font-size: 28px;
}

.radiobuttons {
    margin-bottom: 30px;
}

.radiobuttons input {
    margin: 7px;
}

.vluchtgegevens-desktop {
    display: none;
}

.vluchtgegevens {
    padding: 20px;
}

.vluchtgegevens section {
    padding: 20px 0px 0px 0px;
}


.vluchtgegevens input {
    margin-right: 5px;
}

.vluchtgegevens ul {
    list-style-type: none;
}

.vluchtgegevens h2 {
    padding: 0px;
}

.vluchtgegevens ul li {
    float: left;
}

.vluchtgegevens section:nth-child(3) input {
    width: 100%;
    padding: 20px 9px;
    border: 1px solid #d2d2d2;
    border-bottom: 1px solid #676767;
    color: #1a61da;
    margin-top: 15px;
}

@media only screen and (min-width: 900px) {
    .vluchtgegevens {
        display: none;
    }


    .vluchtgegevens-desktop {
        display: block;
        background-color: #ffff;
        margin: auto;
        padding: 25px;
    }


    .desktop-ul {
        display: block;

    }

    .jumbotron {
        padding: 70px;
    }

    .jumbotron-inner {
        max-width: 40%;
    }

    .jumbotron-inner h1 {
        font-size: 55px;
    }

    .jumbotron-inner a {
        width: 35%;
    }

    .desktop-ul li {
        float: left;
        display: block;
        padding: 16px;
        text-decoration: none;
    }

    .mobiel-ul {
        display: none;
    }
}




.informatie-voorjevliegt {
    padding: 10px 10%;
}

.informatie-voorjevliegt section {
    margin: 50px 0px;
}


.tip-section {
    background-color: #f4f7fc;
    padding: 5% 10%;
    text-align: center;
}


.tip-section img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

video {
    width: 100%;
}

.informatie-voorjevliegt h2 {
    padding: 0px;
}

@media only screen and (min-width: 800px) {
    video {
        width: 100%;
    }

    .informatie-voorjevliegt section {
        width: 60%;
    }

    .tip-section {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0px 10%;
        text-align: inherit;
    }

    .tip-section section p {
        width: 60%;
        float: left;
    }

    .informatie-voorjevliegt h2 {
        margin-bottom: 10px;
    }

    .tip-section h2 {
        padding: 0px;
    }


}






.informatie-content section {
    border: 1px solid #ececec;
    margin: 20px 0px;
    box-shadow: 10px 10px 5px #e6e6e682;
}

.informatie-content section:hover {
    cursor: pointer;
    box-shadow: 10px 10px 5px #969696c7;
    transition: 0.5s;

}

.informatie a {
    display: block;
    padding: 15px 0px 0px 0px;
    font-size: 13px;
    line-height: 17px;
    color: #1a61da;
}

.informatie-content section p,
.informatie-content section h3 {
    padding: 15px;
    line-height: 25px;
}

.informatie-content section a {
    line-height: 50px;
    color: #1a61da;
    padding: 15px;
    display: block;
}

.informatie-content section img {
    width: 100%;
    height: auto;
}

.informatie h2 {
    padding: 0px;
}


@media only screen and (min-width: 600px) {

    .informatie-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

}

@media only screen and (min-width: 960px) {

    .informatie-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        padding: 10px 10%;
    }

    h2,
    .informatie {
        padding: 10px 10%;
    }

    .informatie h2,
    .handicap h2 {
        padding: 0px;
    }

}







.weetjes {
    background-color: #f4f7fb;
}

.weetjes section {
    background-color: #ffff;
}

.weetjes section:hover {
    cursor: default;
}

.weetjes p {
    font-weight: 600;
}

.weetjes a {
    color: #1b60db;

}

.weetjes section h3 {
    padding: 15px;
}

.weetjes section p {
    padding-bottom: 0px;
}

.weetjes section a {
    padding-top: 0px;
}








.handicap {
    display: flex;
    padding: 25px;
}

.handicap i {
    margin: auto;
    font-size: 35px;
    color: #1a61da;
}

.handicap h2 {
    font-size: 17px;
}

.handicap section a {
    font-size: 15px;
    padding: 0px;
    color: #1a61da;
}

.handicap section a i {
    font-size: 15px;

}




footer {
    background-color: #10397e;
}


footer section ul li {
    font-size: 15px;
    color: #ffff;
    text-align: inherit;
    list-style-type: none;
}

footer section ul {
    padding: 0px 50px;
}

.first-footer {
    padding: 10px 0px 10px 0px;
}

footer div img {
    width: 200px;
    height: auto;
}

footer section ul {
    margin: 50px 0px;
}


footer section ul li:nth-child(1) {
    font-weight: 900;
}


.logo-footer {
    text-align: center;
}


@media only screen and (min-width: 960px) {
    footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: row dense;
    }


    footer {
        padding: 0% 12%;
    }

    footer div {
        width: 100%;
        grid-column-start: 1;
        display: flex;
    }


    .download-app {
        display: block;
    }

    footer section ul {
        margin: 0px;
    }


    .last-footer {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    .last-footer section {
        margin: 0px 0px 40px 0px;
    }

    .last-footer section ul li {
        float: left;
    }


    footer section ul li {
        padding: 5px;
    }

    .first-footer {
        padding: 50px 0px;
    }

    .first-footer section ul {
        border-left: 1px solid #ffffff5e;
        margin-bottom: 30px;
    }

}
