/* CSS Document */
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0 auto;
}

@font-face{
font-family: "Frutiger";
src: url("font/Frutiger.tff") format('opentype');; 
}

h1,
h2, h3,
p,
ul,
ul li,
a {
	font-family: Frutiger;
	color: #141251;
}

.displaynone {
	display: none;
}

header {
	display: flex;
	justify-content: space-between;
}

header img {
	width: 150px;
	height: 50px;
}

header ul {
	list-style-type: none;
	display: inline-flex;
	padding: 0px;
	margin: 0px 10px;
}

header ul li {
	padding: 0 10px;
	margin: auto;
}

.banner img {
	width: 100%;
}

.hamburger-menu {
	position: absolute;
	width: 100%;
	top: 0;
	height: 100%;
	background-color: #ffff;
}

.hamburger-menu ul{
	list-style-type: none;
    margin: 50px 0px;
}

.hamburger-menu ul li{
	font-family: Frutiger;
    font-size: 1.2em;
    padding: 12px 0px;
}

#schakel {
	display: none;
}

.menu-sluiten{
	display: block;
	float: right;
    font-size: 30px;
    padding: 10px;
}

.informatie-content h2{
	padding: 0px 20px;
}

.informatie-content section{
  box-shadow: 10px 10px 5px #e6e6e682;
	margin: 20px;	
}

.informatie-content section:hover{
	cursor: pointer;
  box-shadow: 10px 10px 5px #969696c7;
	transition: 0.5s;
	
}

.informatie-content section p,h3,a{
	padding: 15px;
	line-height: 25px;
}

.informatie-content section a{
	line-height: 50px;
}

.informatie-content section img{
	width: 100%;
	height: 180px;
}
